<div class="inner_top">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="pull-right">
          <%= image_tag @cd.picture, :height => "300" %>
        </div>
      </div>
      <div class="col-sm-6">
        <p style="text-align: left">
          <b><%= @cd.format %></b><br>
          <span style="font-weight:bold; font-size:180%">
            <%= @cd.title %><br>
          </span>
          <%= @cd.release_date %>RELEASE
        <hr>
        <p style="text-align: left">
          <% @songs.each do |song| %>
            <%= song.track_number %>.
            <%= song.name %><br>
          <% end %><hr>
          <p style="text-align: left">
          Price:<%= @cd.price %><br>
          <%= link_to @cd.url, target: :_blank, rel: :noopener do %>
            <i class="fas fa-external-link-alt"></i>音源はこちら
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
