<div class="inner_top">
  <div class="inner_music">
    <%= link_to music_path(1) do %>
      <%= image_tag "1st single.jpg", :height => '500' %>
    <% end %>
  </div>
  <div class="inner_music">
    <%= link_to music_path(2) do %>
      <%= image_tag "1st EP.jpg", :height => '500' %>
    <% end %>>
  </div>
  <div class="inner_music">
    <%= link_to music_path(3) do %>
      <%= image_tag '1st demo.jpg', :height => '500' %>
    <% end %>
  </div>
</div>
