<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Outside Her Vision", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "NEWS",    '#' %></li>
        <li><%= link_to "SHOWS",   '#' %></li>
        <li><%= link_to "BIO",     bio_page_path %></li>
        <li><%= link_to "MUSIC",   musics_path %></li>
        <li><%= link_to "VIDEOS",  video_page_path %></li>
        <li><%= link_to "MERCH",   '#' %></li>
        <li><%= link_to "CONTACT", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
